body{
    margin-top: 30px;
}

#hone{
    color: rgb(5, 5, 104);
}

#heading{
    margin-left: 320px;
    border-radius: 3%;
    text-align: center;
    line-height: 5px;
    border: 4px solid black;
    height: 70px;
    width: 800px;
}

.container{
    padding: 20px;
    height: 1200px ;
    width: 700px;
    margin-left: 350px;
    border: 2px solid black; 
    background-color: #e3f2fd;
}  

button{
    background-color: blue;
    color: white;
}

#sub:active{
    background-color: green;
}

#reset:active{
    background-color: red;
}



